
<link href="../bower_components/polymer/polymer.html" rel="import">
<link href="../bower_components/app-route/app-location.html" rel="import">
<link href="../bower_components/app-route/app-route.html" rel="import">
<link href="../bower_components/iron-ajax/iron-ajax.html" rel="import" >
<link href="../bower_components/paper-dialog/paper-dialog.html" rel="import">
<link href="../bower_components/neon-animation/neon-animation.html" rel="import">
<link href="../bower_components/iron-icons/iron-icons.html" rel="import">


<dom-module id="disco-list">
	<template>
		<style>
			div#discography	{
				width: 100%;
				max-width: 1295px;
				margin: auto;
				text-align: left;
				padding: 0px 20px 0 20px;
				opacity: 1;
			    animation-name: revealAnimation;
			    animation-duration: 3s;
			}
			div#links	{
				width: 100%;
				max-width: 1295px;
				margin: auto;
				text-align: left;
				padding: 40px 20px 40px 40px;
				opacity: 1;
			    animation-name: revealAnimation;
			    animation-duration: 3s;				
			}
			div.disc	{
				display: inline-block;
				box-shadow: 0px 0px 20px #333;
				padding: 0;
				margin: 10px;
				height: 300px;
				width: 300px;
				position: relative;
				cursor: pointer;
			    animation-name: hoverAnimation;
			    animation-duration: 4s;	
			    animation-iteration-count: infinite;
			    animation-direction: alternate;
			    animation-timing-function: ease-in-out;			
			}
			div.disc:hover	{

			}
			div.disc span	{
				position: absolute;
				bottom: 0px;
				left: 0;
				width: 100%;
				padding: 10px;
			}
			div.album-button	{
				padding: 10px;
				margin-right: 10px;
				display: inline-block;
				cursor:pointer;
			}

			@keyframes revealAnimation	{
				from { opacity: 0;}
				to { opacity: 1; }
			}
			@keyframes hoverAnimation	{
				from { box-shadow: 0px 0px 20px #333;}
				to { box-shadow: 0px 0px 20px #999; }
			}
			a {
				color: #b4261a;
			}
			#links a {
				color: #fff;
			}
			.link {
			    --iron-icon-height: 32px;
			    --iron-icon-width: 32px;
			    margin-right: 20px;
 			}
		</style>
		<app-location use-hash-as-path route="{{route}}"></app-location>
		<app-route route="{{route}}" pattern="/"></app-route>
		<div id="discography">
			<template is="dom-repeat" items="{{disco}}">
				<div class="disc" on-tap="showRelease">
					<img src="/img/{{item.image}}.jpg" alt="{{item.name}}"/>
				</div>
			</template>
		</div>
		<div id="links">
			<a href="https://moosefrog.bandcamp.com" target="_blank"><iron-icon icon="shopping-cart" class="link"></iron-icon></a>
			<a href="https://www.facebook.com/moosefrog/" target="_blank"><iron-icon icon="favorite" class="link"></iron-icon></a>
			<a href="mailto:moose@moosefrog.net"><iron-icon icon="help" class="link"></iron-icon></a>
		</div>
		<paper-dialog id="albumView" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop style="padding: 0;" class="myDialog">
			<iframe width="100%" height="450" scrolling="no" frameborder="no" src="[[release.embed]]"></iframe>
				<div class="buttons">
				<a href="{{release.buy}}" target="_blank"><div class="album-button" hidden="{{!release.buy}}"><iron-icon icon="shopping-cart"></iron-icon> Buy</div></a>
				<a href="{{release.download}}" target="_blank"><div class="album-button" hidden="{{!release.download}}"><iron-icon icon="file-download"></iron-icon> Download</div></a>
			</div>
		</paper-dialog>
		<iron-ajax
		      auto
		      url="../json/data.json"
		      params='{}'
		      handle-as="json"
		      on-response="getData"
		      debounce-duration="300"></iron-ajax>
		</template>
	<script>
		Polymer({
			is: 'disco-list',
			properties: {
				release: {
					type: Array
				},
				disco: {
					type: Array
				}
			},
			listeners: {
				'iron-overlay-closed': "hideRelease"
			},
			ready: function() {
				if(this.route.path)	{
					for(i=0; i<this.disco.length; i++)	{
						if(this.disco[i]['url'] == this.route.path)	{
							this.release = this.disco[i];
							albumView.open();
							break;
						}
					}
				}
			},
			showRelease: function(event) {
				this.release = [];
				var index = event.model.index;
				this.release = this.disco[index];
				this.set('route.path', this.release['url']);
				albumView.open();
			},
			hideRelease: function()	{
				this.set('route.path', '/');
			}, 
			getData: function(event, ironRequest)	{
				this.disco = ironRequest.response;
				console.log(ironRequest.response);
			}
		})
	</script>
</dom-module>