body {
	padding: 0;
	margin: 0;
	background-image: url("../img/mf-background.jpg");
	background-attachment: fixed;
	background-position: center 50%;
	background-color: #b4b8c3;
	overflow-x:hidden;
}
div#head	{
	width: 100%;
	max-width: 1290px;
	margin: auto;
	padding: 12% 20px 20px 20px;
	position: relative;
    animation-name: slideAnimation;
    animation-duration: 2s;		
}
div#foot	{
	color: #701a12;
	margin: auto;
	text-align: center;
	font-family: "times new roman";
	font-size: 12px;
	position: absolute;
	padding: 10px;
	bottom: 0;
	width: 100%;
}
.paper-dialog-0 {
	width: 500px;
	padding: 0;
	top: 20%;
	background-color: #fff;
}
.paper-dialog-0 > *	{
	padding:0;
	margin: 0;
}
.paper-dialog-0  > *:first-child	{
	margin: 0;
}
.paper-dialog-0  > *:last-child	{
	margin: 0;
}

@keyframes slideAnimation	{
	from { left: -900px; opacity: 0;}
	to { left: 0px; opacity: 1; }
}